<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Ubuntu User Manager</vendor>

  <action id="com.local.usermanager.create">
    <description>Criar um novo usuário local</description>
    <message>É necessária autenticação para criar um novo usuário</message>
    <icon_name>system-users</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/ubuntu-user-manager/helpers/create-user</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.local.usermanager.reset-password">
    <description>Resetar a senha de um usuário local</description>
    <message>É necessária autenticação para resetar a senha de um usuário</message>
    <icon_name>system-users</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/ubuntu-user-manager/helpers/reset-password</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.local.usermanager.delete">
    <description>Excluir um usuário local</description>
    <message>É necessária autenticação para excluir um usuário</message>
    <icon_name>system-users</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/ubuntu-user-manager/helpers/delete-user</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
